




.container{
    padding:2em;
    width: 80%;
}



.visually-hidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }

.search-bar{
    width: 33.3%;
    transition: width 1s;
    border: 1px solid black;
}

    .search-bar:focus{
        width: 80%;
        
    }

.search-bar:focus::placeholder{
    color: transparent;
}
